body{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    margin-top: auto;
    background-color: rgb(185, 185, 24);
    font-family: 'Times New Roman';
      
}
.id{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
.image{
    padding-left: 10px;
    
}
.picture{
    float: left;
}
table,th,td,tr{
     text-align: center;
     border: 3px solid black;
     border-collapse: collapse;
   }
    table{
        width: 80%;
    }
.city{
    padding-left: -5ch;
}
.footer{
  text-align: center;
}
.main{
    display: flex;
}
.one {
    flex: 1;
    font-size: 15px;
    padding-right: 10px;
}
.one img{
    float: right;
}
.two {
    flex: 2;
}
.container{
    clear: left;
    padding-top: 20px;
}
.name,.image{
   padding-right: 25px;
   font-size: 30px;
}
@media  screen and (max-width:688px) {
.main{
    display: flex;
    flex-flow: column;
}
.one img{
    flex-wrap: wrap;
    width: 30%;
    height: auto;
    padding: 10px;
}
.one1 img{
    float: left;
    width: 40%;
    height: auto;
    padding: 10px;
}
}
 
 @media screen and (min-width:689px) and (max-width:992px){
.main{
    display: flex;
    flex-flow: column;
    padding: 5px;
}
.one img{
    width: 40%;
    height: auto;
    padding: 10px;
}
.one1 img{
    float: left;
    width: 40%;
    height: auto;
    padding: 10px;
}
    
}
 @media screen and (min-width:992px) {
     
 }